.navbar {
    background: #666fb8;
    padding: 20px;
    color: rgb(253, 253, 253);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.navbar nav {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 5px auto;
}

.navbar a.brand {
    color: #fff;
    margin-right: auto;
    text-decoration: none;
}

.navbar a:last-child {
    color: #fff;
    text-decoration: none;
    margin-left: 40px;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
}

.navbar a:last-child:hover {
    background: #fff;
    color: #666fb8;
}