@font-face {
  font-family: "Lora-Regular";
  src: url("../public/font/lora/Lora-VariableFont_wght.ttf") format("TrueType"),
    url("../public/font/lora/static/Lora-Medium.ttf") format("TrueType");
}
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


